* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    font-family: 'Open-sans', sans-serif;
    font-size: 17px;
    line-height: 1.5em;
}

a { text-decoration: none; }
ul { list-style: none; }

span { color: #56a79a; }

.container { margin: 0 auto; }


@media (min-width: 768px) {
	.container { width: 750px; padding: 0 10px; }
}

@media (min-width: 992px) {
	.container { width: 970px; }
}

@media (min-width: 1200px) {
	.container { width: 1150px; }
}


			/* Header */
header {
	padding: 15px 0;
	border-bottom: 1px solid #56a79a;
}

.logo {
	text-align: center;
	margin-bottom: 10px;
}

nav {
	text-align: center;
}

nav ul {
	list-style: none;
}

@media (min-width: 525px) {
	
	nav {
		display: flex;
	}
	nav ul {
		display: flex;
		text-align: center;
		margin: auto;
	}
}

nav a {
	display: block;
	padding: 10px;
	color: #888;
	text-transform: uppercase;
}
nav a:hover {
	color: #56a79a;
}
nav li.active a { color: #56a79a; }


@media (min-width: 768px) {
	
	.flex-container {
		display: flex;
		justify-content: space-between;
	}
	.logo, nav { 
		margin: auto 0;
	}	
}


/* Sec: Showcase */
#showcase {
	background: url(../img/showcase.jpg) no-repeat center;
	background-size: cover;
	height: 100vh;
	border-bottom: 1px solid #56a79a;
	display: flex;
}

.showcase-content {
	width: 85%;
	background: #333;
	opacity: 0.9;
	border-radius: 70px;
	padding: 30px 25px;
	color: #fff;
	text-align: center;
	margin: auto;
}
.showcase-content h1 { margin-bottom: 10px; font-size: 170%; }

@media (min-width: 768px) {
	
	.showcase-content { width: 70%; padding: 40px 30px;	}

	.showcase-content h1 { margin-bottom: 15px; font-size: 240%; }

}

@media (min-width: 1200px) {
	
	.showcase-content { width: 50%; padding: 40px 30px;	}

	.showcase-content h1 { font-size: 260%; }

}



/* Sec: Features */
#features {
	padding: 30px 0;
}

#features > .container > .row { text-align: center; margin-bottom: 30px; }

#features .flex-row {
}

.flex-row > div {
	text-align: center;
}

.flex-row > div:not(:last-child) {
	margin-bottom: 30px;
}

.flex-row:nth-child(3) > div:first-child {
	margin-top: 30px;
}

#features .flex > div:nth-child(1) { flex: 1; }
#features .flex > div:nth-child(2) { flex: 1; }
#features .flex > div:nth-child(3) { flex: 1; }
#features .flex > div:nth-child(4) { flex: 1; }
#features .flex > div:nth-child(5) { flex: 1; }
#features .flex > div:nth-child(6) { flex: 1; }

#features h2 { margin-bottom: 5px; font-size: 190%; }

#features .fa {
    font-size: 65px;
    color: #56a79a;
}

#features h3 {margin: 15px 0;}

#features p { color: #888; }

@media (min-width: 768px) {
	
	#features .flex-row {
		display: flex;
		align-items: baseline;
	}
	#features .flex-row:nth-child(3) { margin-top: 30px; }

	.flex-row > div:not(:last-child) {
		margin-bottom: 0;
	}

	.flex-row:nth-child(3) > div:first-child {
		margin-top: 0;
	}

}

	
		/* Sec: Info */
#info {
	background: url(../img/info-bg.jpg) no-repeat center;
	background-size: cover;
	padding-bottom: 20px;
}

#info img {
	width: 100%;
}

#info .row > div:nth-child(2) {
	text-align: center;
	color: #fff;
	font-size: 125%;
}

#info .row > div:nth-child(2) h2 {
	margin-bottom: 30px;
}

#info ul li {
	padding: 10px 0;
}

@media (min-width: 768px) {
	
	#info .row {
		display: flex;
	}

	#info .row > div {
		flex: 1;
	}

	#info .row > div:nth-child(2) {
		margin: auto 0;
	}
}


	/* Sec: Contact */
#contact {
	background: #333;
	color: #fff;
	padding: 20px 0;
	text-align: center;
}

#contact .row div:nth-child(2) {
	margin: 25px 0;
}

#contact .row h3 { font-size: 130%; text-transform: uppercase; margin-bottom: 10px; }

#contact .row li { padding: 5px 0; }

#contact .row i { margin-right: 10px; }

#contact .form-row {
	margin-top: 10px;
}

#contact .form-row input[type="text"] {
	padding: 7px;
}
#contact .form-row button {
	border: none;
	background: #222;
	color: #fff;
	padding: 9px 15px;
}

@media (min-width: 768px) {
	#contact { text-align: left;	}
	
	#contact .row {
		display: flex;
		justify-content: space-between;
	}

	#contact .row > div {
		flex-basis: 30%;
	}

	#contact .row div:nth-child(2) {
		margin: 0;
	}
	
}

	
		/* Page: About */
#about-us .container h1 { margin: 30px 0; }

#about-us .container > div {
	text-align: center;
}

#about-us h2 { margin: 15px 0; }

#about-us p {
	margin: 15px 0;
}



		/* Page: Services */
#services h1 {
	margin: 20px 0;
}
#services h1+h2 { text-align: center; margin-bottom: 10px; }

#services ul { 
	color: #fff;
	text-align: center;
	margin: 25px 0 40px;
}
#services ul li { padding: 20px 10px; }
#services ul li:nth-child(odd) {
	background: #333;
}
#services ul li:nth-child(even) {
	background: #56a79a;
}

#services h3 { margin: 15px 0; }



		/* Page: Contact */
	
#contact-form h1 {
	margin: 20px 0;
}

#contact-form .container > div {
	text-align: center;
	margin: 25px 0;
}

#contact-form h2 {margin-bottom: 20px; }
#contact-form h2+p { margin-bottom: 10px; }

#contact-form form {
	background: #333;
	color: #fff;
	text-align: center;
	padding: 20px 0;
}

#contact-form .form-row {
	margin-top: 10px;
}

.form-row input, 
.form-row label,
.form-row textarea {
	display: block;
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form textarea {
    width: 50%;
    height: 30px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
}
#contact-form textarea { height: 100px; }

#contact-form button {
	display: inline-block;
	background: #222;
	color: #fff;
	border: none;
	width: 50%;
	padding: 10px 0;	
}


footer {
	background: #56a79a;
	color: #fff;
	padding: 20px 0;
	text-align: center;
}
